
<div style="background-color: rgb(240,240,240); height: auto;">
    <div>
        <img src={{logo}} style="width: 256px; margin-left:16px"/>
    </div>
    <h2 style="color: rgb(49,64,92); margin-left:16px">Summary Transactions</h2>
    <div>
        <img src={{frontPage}} style="width: 100%; margin-top:24px"/>
    </div>
    <h4 style="color: rgb(49,64,92); margin-left:16px">Dear {{name}} here are you summary transactions</h4>

    <h5 style="color: rgb(49,64,92); margin-left:16px">Total Balance: ${{totalBalance}}</h5>
    <h5 style="color: rgb(49,64,92); margin-left:16px">Total Transactions: {{totalTransactions}}</h5>
    
    <div style="margin:16px;">
       
        {{#each transactions as |transaction| }}
            <div style="border-width: 2px; border-style: solid; border-color: rgb(49,64,92); border-radius:8px; margin-top:8px; margin-bottom:8px">
                <h3 style="color: rgb(49,64,92); margin-left:16px">{{month}}</h3>
                <h5 style="color: rgb(49,64,92); margin-left:16px">Total Transactions: {{totalTransactions}}</h5>
                <h5 style="color: rgb(49,64,92); margin-left:16px">Average Debit Amount: ${{averageDebitAmount}}</h5>
                <h5 style="color: rgb(49,64,92); margin-left:16px">Average Credit Amount: ${{averageCreditAmount}}</h5>
            </div>  
        {{/each}}
    </div>
</div>




